/* .list-item {
    background-color:rgb(121, 121, 121) !important;
}
.list-item:hover {
    background-color: rgb(95, 95, 95) !important;
} */
body {
    background-color: rgb(26, 26, 26);
}
.list-group-item{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
        }
.list-group-item span {
    min-width: 35px !important;
    min-height: 35px !important;
}
